<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://www.w3.org/2005/10/profile">
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
{% block metarefreash %}{% endblock %}
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="/media/css/style.css" />
<script type="text/javascript" src="/media/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/media/js/jquery.tablesorter.jdsDate.js"></script>
<link type="text/css" href="/media/css/smoothness/jquery-ui-1.8.13.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/media/js/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="/media/js/jquery-ui-togglebox-1.8.js"></script>

<link rel="icon" type="image/png" href="/media/images/logo32x32.png">

</head>

<body>
<div class="mainheader">
  <div class="logo">{% block header %}{% endblock %}</div>
</div>
<div class="navbg">
  <div id="navcontainer">
   {% block rail %}{% endblock %}
   </div>
</div>
<div class="main">
  <div class="floatmain">
   {% block content %}{% endblock %}
   </div>
</div>
  <div class="footer">
     {% block footrail %} {% endblock %}
   </div>
</body>
</html>
