<html>
<head>
<title>{% block title %}{% endblock %}</title>
<style type="text/css">
    body { margin: 30px; font-family: sans-serif; background: #fff; }
    h1 { background: #ccf; padding: 20px; }
    pre { padding: 20px; background: #ddd; }
</style>
</head>
<body>
    <p><a href="/paste/add/">Add one</a> &bull; <a href="/paste/">List all</a></p>
    {% block content %}
    
    {% endblock %}
</body>
<link type="text/css" rel="stylesheet" href="/pastebin/styles/shCore.css" />
<link type="text/css" rel="stylesheet" href="/pastebin/styles/shThemeDjango.css" />

<script type="text/javascript" src="/pastebin/js/shCore.js"></script>
<script type="text/javascript" src="/pastebin/js/shAutoloader.js"></script>


<script type="text/javascript" src="/pastebin/js/shBrushAppleScript.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushAS3.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushBash.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushColdFusion.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushCpp.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushCSharp.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushCss.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushDelphi.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushDiff.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushErlang.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushGroovy.js"></script> <!-- language for jvm -->
<script type="text/javascript" src="/pastebin/js/shBrushJavaFX.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushJava.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushJScript.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushPerl.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushPhp.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushPlain.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushPowerShell.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushPython.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushRuby.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushSass.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushScala.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushSql.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushVb.js"></script>
<script type="text/javascript" src="/pastebin/js/shBrushXml.js"></script>


<script language="javascript">
SyntaxHighlighter.all();
</script>


</html>
